PORT=3003
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/FoodOrderApp
SEKRET_KEY=your_jwt_secret_key_here
ORDER_SERVICE_URL=http://order-service:3001
NOTIFICATION_SERVICE_URL=http://notification-service:3005
